F21_hw2_submission.aux
F21_hw2_submission.fdb_latexmk
F21_hw2_submission.fls
F21_hw2_submission.log
F21_hw2_submission.pdf
F21_hw2_submission.out
F21_hw2_submission.synctex.gz
F21_hw2_submission.xdv
.DS_Store
tags
**log
